.container {
  max-width: 700px;

  tr {
    margin-top: 10px;

    &.custom {
      font-style: italic;
    }
  }
  td {
    vertical-align: top;

    &:nth-child(1) {
      width: 200px;
    }

    &.title {
      font-weight: bold;
    }

    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;

      li {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
      }

      &.syntax {
        li {
          &::before {
            content: "> ";
            padding-right: 10px;
          }
        }
      }
    }
  }
}

span.icon-wrapper {
  display: flex;
  flex-flow: row;
}
