<div class="mat-elevation-z8">
  <mat-toolbar class="action-toolbar">
    <fac-channel-selector [interfaceFilter]="channelInterfaceFilter"></fac-channel-selector>
    <button
      mat-icon-button
      matTooltip="Import Messages"
      [disabled]="(selectedChannel$ | async) === undefined"
      (click)="importMessages()"
    >
      <mat-icon>
        <ng-icon name="bootstrapUpload"></ng-icon>
      </mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Export Messages to Clipboard"
      [disabled]="(selectedChannel$ | async) === undefined"
      (click)="exportMessages()"
    >
      <mat-icon>
        <ng-icon name="bootstrapDownload"></ng-icon>
      </mat-icon>
    </button>
  </mat-toolbar>

  <mat-card>
    <mat-card-header>
      <mat-card-title> Timer Messages </mat-card-title>
      <mat-card-subtitle> Timer Messages are messages that are issued in an interval. </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Timer messages are messages that are issued in an interval. You can use this feature to remind your viewers
        about your social media, upcoming events, or other important information.
      </p>

      @if (config$ | async; as config) {
        @if (timerMessagesDisabled$ | async) {
          <mat-card>
            <mat-card-header>
              <mat-card-title> Timer Messages disabled </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Timer Messages are currently disabled. To enable Timer Messages, set "Min Messages" to 0.</p>
            </mat-card-content>
          </mat-card>
        }

        <div [formGroup]="form">
          <input type="hidden" formControlName="channelId" />

          <div
            class="message-list"
            formArrayName="messages"
            cdkDropList
            (cdkDropListDropped)="onMessageDropped($event)"
          >
            @for (messageControl of form.controls.messages.controls; track messageControl.value.id) {
              <mat-form-field cdkDrag [formGroupName]="$index">
                <input type="hidden" formControlName="id" />

                <mat-label>Message {{ $index + 1 }}</mat-label>
                <textarea matInput formControlName="message"></textarea>

                <mat-icon cdkDragHandle class="drag-handle" matPrefix matTooltip="Drag me to move the message around">
                  <ng-icon name="bootstrapChevronExpand"></ng-icon>
                </mat-icon>
                <button mat-icon-button matSuffix (click)="removeMessage($index)" matTooltip="Remove message">
                  <mat-icon>
                    <ng-icon name="bootstrapTrash"></ng-icon>
                  </mat-icon>
                </button>

                <mat-error>This field is required.</mat-error>
                @if (showDebug) {
                  <mat-hint>{{ messageControl.value | json }}</mat-hint>
                }
              </mat-form-field>
            }

            <div class="button-row right">
              <button mat-button (click)="addMessage()">
                <mat-icon>
                  <ng-icon name="bootstrapPlus"></ng-icon>
                </mat-icon>
                Add Message
              </button>
            </div>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>Interval</mat-label>
              <input matInput type="number" formControlName="interval" />
              <span matTextSuffix>min</span>
              <mat-error>Interval needs to be >= 5</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Min Messages</mat-label>
              <input matInput type="number" formControlName="minMessages" />
              <span matTextSuffix>msgs</span>
              <mat-error> Min Messages needs to be >= 5. Set to 0 to enable Timer Messages. </mat-error>
            </mat-form-field>
          </div>

          @if (showDebug) {
            <div>
              <h3>Form Value</h3>
              <pre>{{ form.value | json }}</pre>
            </div>
          }
        </div>
      } @else {
        <div>
          <p>Please select a supported channel above. Timer messages are currently only supported on Twitch.</p>
        </div>
      }
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer"></span>
      <button mat-button color="primary" (click)="onSaveChanges()">Save Changes</button>
    </mat-card-actions>
  </mat-card>
</div>
