<div [formGroup]="form">
  <input type="hidden" formControlName="type" />
  @if (form.get('type')!.value === 'Text') {
    <mat-form-field>
      <mat-label>Response Message</mat-label>
      <textarea matInput formControlName="content" rows="4"></textarea>
      <mat-error>{{ form | formError: 'content' | async }}</mat-error>
    </mat-form-field>
    <input type="hidden" formControlName="auxiliaryContent" />
  } @else if (form.get('type')!.value === 'Sound') {
    <fac-file-picker
      label="Sound file to play"
      [restrictToChannel]="channelId!"
      [restrictToTypes]="['audio/*']"
      formControlName="content"
    ></fac-file-picker>
    <mat-form-field>
      <mat-label>Response Message (optional)</mat-label>
      <textarea matInput formControlName="auxiliaryContent" rows="4"></textarea>
      <mat-error>{{ form | formError: 'auxiliaryContent' | async }}</mat-error>
    </mat-form-field>
  } @else if (form.get('type')!.value === 'Visual') {
    <mat-form-field>
      <mat-label>Displayed Message</mat-label>
      <textarea matInput formControlName="content" rows="4"></textarea>
      <mat-error>{{ form | formError: 'content' | async }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Response Message (optional)</mat-label>
      <textarea matInput formControlName="auxiliaryContent" rows="4"></textarea>
      <mat-error>{{ form | formError: 'auxiliaryContent' | async }}</mat-error>
    </mat-form-field>
  } @else {
    <input type="hidden" formControlName="content" />
    <input type="hidden" formControlName="auxiliaryContent" />
  }
  <mat-slide-toggle formControlName="sendAsReply">
    <b>Send response message as a reply</b><br />
    When enabled, this will either generate a direct reply message or mention the requesting user.
  </mat-slide-toggle>
</div>
