<div [formGroup]="form">
  <input type="hidden" formControlName="type" />
  @if (form.get('type')!.value === 'Text') {
    <mat-form-field>
      <mat-label>Response Message</mat-label>
      <textarea matInput formControlName="content"></textarea>
    </mat-form-field>
    <input type="hidden" formControlName="auxiliaryContent" />
  } @else if (form.get('type')!.value === 'Sound') {
    <mat-form-field>
      <mat-label>Sound file to play</mat-label>
      <input matInput formControlName="content" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Response Message (optional)</mat-label>
      <textarea matInput formControlName="auxiliaryContent"></textarea>
    </mat-form-field>
  } @else {
    <input type="hidden" formControlName="content" />
    <input type="hidden" formControlName="auxiliaryContent" />
  }
</div>
