:host {
  display: block;
}

.action-toolbar {
  & > * {
    flex: 0;
  }

  fac-channel-selector {
    flex: 1;
    margin-top: 25px;
  }
}

.form-row {
  display: flex;
  flex-flow: row;

  & > * {
    flex: 1;
  }
}
