:host {
  display: block;
}

mat-form-field {
  width: 100%;
}

.access-list > li {
  mat-icon {
    margin-bottom: -7px;
  }
}

.mat-mdc-card-avatar mat-icon.mat-icon {
  width: 40px;
  height: 40px;

  ng-icon {
    --ng-icon__size: 40px !important;
  }
}
