// Theming for m3: https://angular-material.dev/articles/angular-material-3
@use '@angular/material' as mat;
@use '_theme-colors.scss' as theme;

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    typography: (
      plain-family: Roboto,
      //brand-family: "Open Sans",
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 300,
    ),
  )
);

:root {
  @include mat.all-component-themes($dark-theme);
  @include mat.color-variants-backwards-compatibility($dark-theme);
}

html,
body {
  color-scheme: dark;

  & {
    height: 100%;
    background-color: var(--mat-app-background-color);
    color: var(--mat-app-text-color);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  /* Set the overall container to use flexbox */
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes the full viewport height */
  }
}
