.fac-highlight {
  background-color: var(--fac-highlight-background) !important;
  color: var(--fac-highlight-color) !important;
}

.button-row {
  display: flex;
  justify-content: center;
  &.right {
    justify-content: flex-end;
  }
}

.drag-handle {
  cursor: move;
}

.filter {
  width: 100%;
}

.empty-text {
  text-align: center;
  font-size: 1.2em;
  color: var(--fac-text-color);
  padding: 10px;
}
