.fac-highlight {
  background-color: var(--fac-highlight-background) !important;
  color: var(--fac-highlight-color) !important;
}

.button-row {
  display: flex;
  &.right {
    justify-content: flex-end;
  }
}
