html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// *** Colors
.success {
  color: green;
}
.warning {
  color: orange;
}
.error {
  color: red;
}
.disabled {
  opacity: 0.5;
}

// *** Global Overrides
.mat-mdc-dialog-actions {
  justify-content: end !important;
}

.spacer {
  flex: 1;
}
