html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// *** Colors
.success {
  color: green;
}
.warning {
  color: orange;
}
.error {
  color: red;
}
.disabled {
  opacity: 0.5;
}

// *** Forms
input[type="number"] {
  text-align: right;
}

// *** Global Overrides
.mat-mdc-dialog-actions {
  justify-content: end !important;
}

.spacer {
  flex: 1;
}

mat-divider.mat-divider {
  margin: 10px 0;
}

.mat-mdc-card-avatar mat-icon.mat-icon {
  width: 40px;
  height: 40px;

  ng-icon {
    --ng-icon__size: 40px !important;
  }
}

.mat-mdc-slide-toggle label {
  color: var(--mat-sys-on-surface);
}
