:host {
  display: block;
}

.mat-column-quoteId {
  width: 50px;
  text-align: right;
}
.mat-column-createdAt {
  width: 120px;
  text-align: center;
}
.mat-column-actions {
  width: 150px;
  text-align: right;
}
