<h1 mat-dialog-title>Edit Quote</h1>
<div mat-dialog-content class="dialog-editor" [formGroup]="form">
  <input type="hidden" formControlName="id" />
  <input type="hidden" formControlName="channelMappingId" />
  <input type="hidden" formControlName="quoteId" />
  <input type="hidden" formControlName="createdAt" />

  <mat-form-field>
    <mat-label>Quote</mat-label>
    <input matInput formControlName="quoteText" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Context</mat-label>
    <input matInput formControlName="quoteContext" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Created by</mat-label>
    <input matInput formControlName="createdBy" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="saveQuote()">Save</button>
</div>
