<div class="mat-elevation-z8">
  <mat-toolbar class="action-toolbar">
    <fac-channel-selector></fac-channel-selector>
    <button
      mat-icon-button
      matTooltip="Create Command"
      [disabled]="(selectedChannelId$ | async) === undefined"
      (click)="createCommand()"
    >
      <mat-icon>
        <ng-icon name="bootstrapPlus"></ng-icon>
      </mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Refresh"
      [disabled]="(selectedChannelId$ | async) === undefined"
      (click)="refresh$.next()"
    >
      <mat-icon>
        <ng-icon name="bootstrapArrowCounterclockwise"></ng-icon>
      </mat-icon>
    </button>
  </mat-toolbar>
  <fac-command-list
    [commands]="commands$ | async"
    [allowDelete]="true"
    [allowDetail]="false"
    (editCommand)="editCommand($event)"
  ></fac-command-list>
</div>
