<mat-form-field [floatLabel]="'always'">
  <mat-label>
    <ng-icon name="bootstrapFolder2Open"></ng-icon>
    Channel
  </mat-label>

  <mat-select [formControl]="form" placeholder="Select a channel">
    @for (channel of channels$ | async; track $index) {
      <mat-option [value]="channel | channelId">
        <mat-icon>
          <ng-icon [name]="(channel | channelIcon)!"></ng-icon>
        </mat-icon>
        <span>{{ channel | channelName }}</span>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
