mat-form-field {
  width: 100%;
}

input.code {
  font-family: var(--fac-code-font);
}

.form-row {
  display: flex;
}

.response-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  fac-custom-command-response-form {
    flex: 1;
  }
}

.button-row {
  margin-bottom: 16px;
}
