.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 3px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  text-align: center;

  input {
    display: none;
  }

  &.drop-zone-active {
    border-color: green;
  }
}
