<div class="mat-elevation-z8">
  <mat-toolbar class="action-toolbar">
    <fac-channel-selector></fac-channel-selector>
    <button
      mat-icon-button
      matTooltip="Upload File"
      [disabled]="(selectedChannelId$ | async) === undefined"
      (click)="uploadFile()"
    >
      <mat-icon>
        <ng-icon name="bootstrapUpload"></ng-icon>
      </mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Refresh"
      [disabled]="(selectedChannelId$ | async) === undefined"
      (click)="refresh$.next()"
    >
      <mat-icon>
        <ng-icon name="bootstrapArrowCounterclockwise"></ng-icon>
      </mat-icon>
    </button>
  </mat-toolbar>
  <mat-paginator [pageSize]="10" hidePageSize="true" showFirstLastButtons></mat-paginator>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="mimeType">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let file">
        <mat-icon [matTooltip]="file.mimeType">
          <ng-icon [name]="file.mimeType | fileIcon"></ng-icon>
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let file">
        {{ file.fileName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fileSize">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
      <td mat-cell *matCellDef="let file">{{ file.fileSize | fileSize }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let file">
        <button mat-icon-button [matTooltip]="getDownloadTooltip(file)" (click)="downloadFile(file)">
          <mat-icon>
            <ng-icon name="bootstrapDownload"></ng-icon>
          </mat-icon>
        </button>
        <button mat-icon-button [matTooltip]="getDeleteTooltip(file)" (click)="deleteFile(file)">
          <mat-icon>
            <ng-icon name="bootstrapTrash"></ng-icon>
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <fac-file-storage-quota [quota]="quota$ | async"></fac-file-storage-quota>
</div>
