.mat-column-timestamp {
  width: 150px;
  max-width: 150px;
}
.mat-column-level {
  max-width: 60px;
  width: 60px;
  text-align: center;
}
.mat-column-context {
  max-width: 250px;
  width: 250px;
}

.exception {
  white-space: pre-wrap;
  pre {
    word-wrap: break-word;
  }
}
