<h1 mat-dialog-title>Your Access Key</h1>
<div mat-dialog-content>
  <p>
    This access key can be used to access FloppyBot in your name without the need to sign in. Keep it safe and do not
    share it with anyone.
  </p>
  <mat-form-field>
    <mat-label>Your Access Key</mat-label>
    <input matInput type="password" readonly [value]="report.accessKey" />
    <button
      mat-icon-button
      matSuffix
      matTooltip="Copy Access Key to Clipboard"
      [cdkCopyToClipboard]="report.accessKey || ''"
      (click)="showCopiedTooltip()"
    >
      <mat-icon>
        <ng-icon name="bootstrapCopy"></ng-icon>
      </mat-icon>
    </button>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" mat-dialog-close>Close</button>
</div>
