<mat-paginator [pageSize]="10" hidePageSize="true" showFirstLastButtons></mat-paginator>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="enabled">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</th>
    <td mat-cell *matCellDef="let command">
      @if (command.disabled) {
        <mat-icon matTooltip="Disabled" class="disabled">
          <ng-icon name="bootstrapXLg"></ng-icon>
        </mat-icon>
      } @else {
        <mat-icon matTooltip="Enabled" class="success">
          <ng-icon name="bootstrapCheckCircle"></ng-icon>
        </mat-icon>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="restrictions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Restrictions</th>
    <td mat-cell *matCellDef="let command">
      <fac-command-restrictions [command]="command"></fac-command-restrictions>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Command</th>
    <td mat-cell *matCellDef="let command">
      <code class="command-name">&gt; {{ command.name }}</code>
      @if (command.aliases.length > 0) {
        <code matTooltip="Aliases" class="command-aliases">{{ command.aliases | list }}</code>
      }
      <br />
      <span class="command-description">{{ command.description }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let command">
      <button mat-icon-button [matTooltip]="getDetailTooltip(command)" (click)="showCommandDetails.next(command)">
        <mat-icon>
          <ng-icon name="bootstrapSearch"></ng-icon>
        </mat-icon>
      </button>
      <button mat-icon-button [matTooltip]="getEditTooltip(command)">
        <mat-icon>
          <ng-icon name="bootstrapPencil"></ng-icon>
        </mat-icon>
      </button>
      @if (allowDelete) {
        <button mat-icon-button [matTooltip]="getDeleteTooltip(command)">
          <mat-icon>
            <ng-icon name="bootstrapTrash"></ng-icon>
          </mat-icon>
        </button>
      } @else {
        <button mat-icon-button [matTooltip]="getDisableTooltip(command)" (click)="disableCommand.next(command)">
          <mat-icon>
            <ng-icon [name]="command.disabled ? 'bootstrapPower' : 'bootstrapBan'"></ng-icon>
          </mat-icon>
        </button>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<p class="list-summary">Found {{ dataSource.data.length }} commands.</p>
