.version-table {
  td, th {
    padding-right: 10px;
  }
  td:first-child {
    font-weight: bold;
  }

  td.changed {
    background-color: var(--fac-highlight-background);
  }

  td.version {
    font-size: x-large;
  }
}
