<h1 mat-dialog-title>About FloppyBot Admin Console</h1>
<div mat-dialog-content>
  @if ((hasUpdates$ | async) || true) {
    <p class="fac-highlight">You have an update available. Click the "Update" button to install the latest version.</p>
  }

  <table class="version-table">
    <tr>
      <th></th>
      <th>You're running</th>
      <th>Latest Version</th>
    </tr>

    <tr>
      <td>App Version</td>
      <td class="version">{{ currentVersion }}</td>
      <td
        *ngIf="latestVersion$ | async as latestVersion"
        class="version"
        [class.fac-highlight]="currentVersion !== calculateDisplayVersion(latestVersion)"
      >
        {{ calculateDisplayVersion(latestVersion) }}
      </td>
    </tr>

    <tr>
      <td>Build Time</td>
      <td>{{ version.buildTime }}</td>
      <td
        *ngIf="latestVersion$ | async as latestVersion"
        [class.fac-highlight]="version.buildTime !== latestVersion.buildTime"
      >
        {{ latestVersion.buildTime }}
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <h2>Build Environment</h2>
      </td>
    </tr>

    @for (item of version.buildEnv | keyvalue; track item.key) {
      <tr>
        <td>{{ getTitle(item.key) }}</td>
        <td>{{ item.value }}</td>
        <td
          *ngIf="latestVersion$ | async as latestVersion"
          [class.fac-highlight]="latestVersion.buildEnv[item.key] !== item.value"
        >
          {{ latestVersion.buildEnv[item.key] }}
        </td>
      </tr>
    }
  </table>
</div>
<div mat-dialog-actions>
  @if (hasUpdates$ | async) {
    <button mat-button (click)="update()">Update</button>
  }
  <button mat-button mat-dialog-close>OK</button>
</div>
