<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button data-testid="btn-main-menu" [matMenuTriggerFor]="mMenu" matTooltip="Tap to start">
      <mat-icon>
        <ng-icon name="bootstrapFloppy2"></ng-icon>
      </mat-icon>
      <!-- <span>FloppyBot Menu</span> -->
    </button>
    <mat-menu #mMenu="matMenu">
      <button mat-menu-item routerLink="/home" routerLinkActive="mat-mdc-menu-item-highlighted">
        <mat-icon>
          <ng-icon name="bootstrapHouse"></ng-icon>
        </mat-icon>
        Home
      </button>

      @if (debugFeaturesEnabled) {
        <button
          mat-menu-item
          routerLink="/debug"
          routerLinkActive="mat-mdc-menu-item-highlighted"
          queryParamsHandling="merge"
        >
          <mat-icon>
            <ng-icon name="bootstrapBugFill"></ng-icon>
          </mat-icon>
          Debug
        </button>
      }

      <mat-divider></mat-divider>

      @if (isAuthenticated$ | async) {
        <button mat-menu-item [matMenuTriggerFor]="mCommands">
          <mat-icon>
            <ng-icon name="bootstrapCommand"></ng-icon>
          </mat-icon>
          Commands
        </button>
        @if (hasPermissions(Permissions.ReadQuotes) | async) {
          <button
            mat-menu-item
            routerLink="/quotes/manage"
            routerLinkActive="mat-mdc-menu-item-highlighted"
            queryParamsHandling="merge"
          >
            <mat-icon>
              <ng-icon name="bootstrapQuote"></ng-icon>
            </mat-icon>
            Quotes
          </button>
        }
        @if (hasPermissions(Permissions.ReadFiles) | async) {
          <button
            mat-menu-item
            routerLink="/files/manage"
            routerLinkActive="mat-mdc-menu-item-highlighted"
            queryParamsHandling="merge"
          >
            <mat-icon>
              <ng-icon name="bootstrapFolder2Open"></ng-icon>
            </mat-icon>
            Files
          </button>
        }
        @if (hasPermissions(Permissions.ReadCommands) | async) {
          <button
            mat-menu-item
            routerLink="/timer"
            routerLinkActive="mat-mdc-menu-item-highlighted"
            queryParamsHandling="merge"
          >
            <mat-icon>
              <ng-icon name="bootstrapClockHistory"></ng-icon>
            </mat-icon>
            Timer Messages
          </button>
        }
        @if (hasPermissions(Permissions.ReadConfig) | async) {
          <button
            mat-menu-item
            routerLink="/stream-source/show-url"
            routerLinkActive="mat-mdc-menu-item-highlighted"
            queryParamsHandling="merge"
          >
            <mat-icon>
              <ng-icon name="bootstrapWindowFullscreen"></ng-icon>
            </mat-icon>
            Stream Source
          </button>
        }

        @if (hasAdminPermissions$ | async) {
          <mat-divider></mat-divider>
          <button mat-menu-item [matMenuTriggerFor]="mAdmin">
            <mat-icon>
              <ng-icon name="bootstrapShieldLock"></ng-icon>
            </mat-icon>
            Admin
          </button>
        }

        <mat-divider></mat-divider>
        <button
          mat-menu-item
          routerLink="/profile"
          data-testid="btn-user-profile"
          routerLinkActive="mat-mdc-menu-item-highlighted"
        >
          @if (profilePictureUrl$ | async; as profilePictureUrl) {
            <mat-icon>
              <img [src]="profilePictureUrl" alt="User Avatar" class="avatar" />
            </mat-icon>
          } @else {
            <mat-icon>
              <ng-icon name="bootstrapPersonCircle"></ng-icon>
            </mat-icon>
          }
          Profile
          <small>({{ username$ | async }})</small>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="mSettings">
          <mat-icon>
            <ng-icon name="bootstrapGear"></ng-icon>
          </mat-icon>
          Settings
        </button>
        <button mat-menu-item data-testid="btn-logout" (click)="logout()">
          <mat-icon>
            <ng-icon name="bootstrapDoorOpen"></ng-icon>
          </mat-icon>
          Logout
        </button>
      } @else {
        <button mat-menu-item data-testid="btn-login" (click)="login()">
          <mat-icon>
            <ng-icon name="bootstrapUnlock"></ng-icon>
          </mat-icon>
          Login
        </button>
      }
    </mat-menu>

    <mat-menu #mCommands="matMenu">
      @if (hasPermissions(Permissions.ReadCommands) | async) {
        <button
          mat-menu-item
          routerLink="/commands/built-in"
          routerLinkActive="mat-mdc-menu-item-highlighted"
          queryParamsHandling="merge"
        >
          <mat-icon>
            <ng-icon name="bootstrapExclamationLg"></ng-icon>
          </mat-icon>
          Built-in Commands
        </button>
      }
      @if (hasPermissions(Permissions.ReadConfig) | async) {
        <button
          mat-menu-item
          routerLink="/commands/shoutout"
          routerLinkActive="mat-mdc-menu-item-highlighted"
          queryParamsHandling="merge"
        >
          <mat-icon>
            <ng-icon name="bootstrapMegaphone"></ng-icon>
          </mat-icon>
          Shoutout
        </button>
      }

      @if (hasPermissions(Permissions.ReadCustomCommands) | async) {
        <mat-divider></mat-divider>

        <button
          mat-menu-item
          routerLink="/commands/custom"
          routerLinkActive="mat-mdc-menu-item-highlighted"
          queryParamsHandling="merge"
        >
          <mat-icon>
            <ng-icon name="bootstrapPencilSquare"></ng-icon>
          </mat-icon>
          Custom Commands
        </button>
      }
    </mat-menu>

    <mat-menu #mSettings="matMenu">
      <button
        mat-menu-item
        routerLink="/settings/channel-aliases"
        routerLinkActive="mat-mdc-menu-item-highlighted"
        queryParamsHandling="merge"
      >
        Channel Aliases
      </button>
    </mat-menu>

    <mat-menu #mAdmin="matMenu">
      @if (hasPermissions(Permissions.ReadLogs) | async) {
        <button
          mat-menu-item
          routerLink="/admin/logs"
          routerLinkActive="mat-mdc-menu-item-highlighted"
          queryParamsHandling="merge"
        >
          <mat-icon>
            <ng-icon name="bootstrapFileText"></ng-icon>
          </mat-icon>
          Logs
        </button>
      }

      @if (hasPermissions(Permissions.ReadAudit) | async) {
        <button
          mat-menu-item
          routerLink="/admin/audit"
          routerLinkActive="mat-mdc-menu-item-highlighted"
          queryParamsHandling="merge"
        >
          <mat-icon>
            <ng-icon name="bootstrapSearch"></ng-icon>
          </mat-icon>
          Audit Logs
        </button>
      }
    </mat-menu>

    <span>{{ title$ | async }}</span>

    <span class="spacer"></span>

    <button
      mat-button
      class="version"
      [class.has-update]="hasUpdates$ | async"
      [matTooltip]="buildTime"
      (click)="onVersionClicked()"
    >
      {{ version }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>
